<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaffeineMode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CaffeineMode.Properties.Settings>
            <setting name="U_EnableOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="U_StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </CaffeineMode.Properties.Settings>
    </userSettings>
</configuration>